body {
  margin: 0;
  background-color: #000;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#scene-container {
  height: min(70vh, 60vh + 5vw);
  width: 100%;
  position: relative;
}

#allTimeLeft {
  position: absolute;
  top: 50%;
  left: clamp(10px, 2vw, 40px);
  transform: translateY(-50%);
  background: #0a0a0a;
  padding: clamp(6px, 1vw, 12px);
  border: 1px solid #222;
  max-width: clamp(300px, 30vw, 600px);
}

#allTimeLeft canvas {
  width: 100% !important;
  height: auto !important;
}

#allTimeRight {
  position: absolute;
  top: 50%;
  right: clamp(10px, 2vw, 40px);
  transform: translateY(-50%);
  width: clamp(240px, 20vw, 400px);
  background: #0a0a0a;
  padding: clamp(6px, 1vw, 12px);
  border: 1px solid #222;
}

.statsTitle {
  font-size: clamp(16px, 1.3vw, 24px);
  margin-bottom: 10px;
}

.statRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: clamp(12px, 1vw, 18px);
}

.label {
  color: #aaa;
}

.divider {
  border-bottom: 1px solid #333;
  margin: 8px 0;
}

#ui-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: clamp(22vh, 28vh, 30vh);
  background: #050505;
  border-top: 1px solid #222;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}

#time-ui {
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: clamp(4px, 1vh, 18px);
}

#yearSlider {
  width: clamp(40%, 50%, 60%);
}

#yearLabel {
  font-size: clamp(12px, 1vw, 20px);
  margin-top: 6px;
}

#bottomCharts {
  height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(8px, 1vw, 20px);
  padding: 0 clamp(6px, 1vw, 20px);
}

.bottomChart {
  border: 1px solid #222;
  background: #0a0a0a;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(260px, 30vw, 600px);
  height: clamp(150px, 20vh, 250px);
  box-sizing: border-box;
}

.bottomChart canvas {
  width: 100% !important;
  height: 100% !important;
}

#infoPanel {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 12px;
  width: clamp(180px, 20vw, 260px);
  display: none;
  z-index: 10;
  border: 1px solid #333;
}

@media (max-height: 900px) {
  #scene-container {
    height: 60vh;
  }
}

@media (max-height: 800px) {
  #scene-container {
    height: 55vh;
  }
  #ui-panel {
    height: 28vh;
  }
}
